* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(img/pexels-pixabay-461940.jpg);
    background-size: cover;
}

.mãe {
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    position: absolute;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.884);
   
}

.title {
    color: #ffffffa5;
    position: relative;
    font-size: 10.5px;
    padding: 30px 50px;
}

.corpo {
    display: flex;
    flex-direction: column;
    padding: 30px 50px;
    background-color: rgba(0, 0, 0, 0.293);
}

h2 {
    color: #ffffffcd;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.semi-title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.Forgot-password {
    margin-left: 195px;
    color: #ffffff9c;
    font-size: 10px;
}
a {
    color: #ffffffbb;
}
input {
    position: relative;
    width: 400px;
    padding: 10px 30px ;
    border-radius: 5px;
    border: 2px solid;
    outline: none;
}

.button {
    padding: 10px 0;
    background-color: rgb(173, 73, 56);
    color: #ffffffe4;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid rgba(173, 74, 56, 0.348);
}
.button:hover {
    opacity: .9;
}
.button:active {
    opacity: .4;
}
.icon{
    position: absolute;
    left: 5px;
    top: 67%;
    transform: translateY(-50%);
}
.icon-2 {
    position: absolute;
    left: 8px;
    top: 18%;
    transform: translateY(-50%);
}
.complete-form {
    position: relative;
}

span > a {
    color: rgb(173, 73, 56);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
}
.rodapé {
    text-align: center;
    color: #ffffff7f;
    font-size: 12px;
    padding-top: 15px;
    line-height: 20px;
}

